<div class="box">
    <h2 class="title">Interpretacja</h2>
    <ul class="results">
        <li class="results__item"></li>
    </ul>
    <div class="interpretation">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Pariatur temporibus eligendi dolorem et iure, voluptate unde
        vero alias fuga voluptatum facere a laborum recusandae obcaecati,
        eveniet reiciendis ratione ad voluptas!Est nobis possimus, animi
        harum praesentium earum odit eveniet molestiae ipsa ipsum eligendi
        et atque ex, at autem molestias natus nihil quia officia repellat
        temporibus voluptate laboriosam nostrum. Harum, provident?
        </p>
    </div>
</div>