@import '../../styles.scss';

.box {
    width: 80vw;
    min-height: calc(100vh - (2.6rem*2));
    grid-template-rows: 1fr 1fr 2fr;
    @media (min-width:1024px){
        width: 50vw
    }
    @media (orientation: landscape) and (max-width : 640px){
        height: calc(100vh - (2.2rem*2));
    }
}
.title {
    margin: 2rem auto 1rem auto;
}
.results__item{
    display: grid;
    grid-template-columns: 1fr 3rem 2.5rem 2rem;
    @include text(.8rem, 1.4rem, center);
    @media (min-width:1024px){
        @include text(.9rem, 1.6rem, center);
    }
}
.icon {
    width: .7rem;
    justify-self: center;
    &--toHigh{
        transform: rotate(180deg);
    }
    &--check {
    width: 1.1rem
    }

}
.interpretation {
    color: rgb(87, 87, 87);
    padding: 1rem 0 4rem 0;
    align-self: flex-start;
    @include text(.8rem, 1.2rem, justify);
    @media (min-width:1024px){
        @include text(.9rem, 1.4rem, justify);
    }
}
.interpretation p{
    text-align-last: center;
}