@import '/src/styles.scss';
.box{
    grid-template-rows: 2fr 2fr 3fr 1fr;
}
.description__container{
    display: flex;
    width: 90vw;
    justify-content: space-between;
    @media (min-width : 640px){
        width: 30rem;
    }
}
.description{
    display: inline;
    @include text(.8rem, 1rem, justify);
    margin: auto 0;
    @media (min-width: 640px){
        margin: auto .5rem
    }
    @media (min-width:1024px){
        @include text(1rem, 1.4rem, justify);
    }
}
img{
    margin: auto 0
}
a{  
    color: $main-color
}
.warning__icon{
    width: 3rem;
    margin-right: 1rem;
}