<div class="box">
    <h1 class="title">O projekcie</h1>
    <div class="description__container">
        <img
            class="warning__icon"
            src="../../../assets/images/Warning-icon.svg"
            alt="Ostrzeżenie"
        >
        <span class="description">
            Aplikacja ma z założenia charakter wyłącznie informacyjno-edukacyjny, nie zastępuje kontaktu pomiędzy użytkownikiem a jego lekarzem. Przykładowe interpretacje wyników należy bezwzględnie skonsultować z lekarzem.
        </span>
    </div>
    <div class="description__container">
        <span class="description">
            LabApp została stworzona na potrzeby przyszłych rekrutacji przez diagnostę laboratoryjnego aspirującego na frontend developera. Na co dzień pracuję w laboratorium jednego z gdańskich szpitali, obecnie poszuję swojej pierwszej pracy w IT. Jeżeli zainteresowała Cię moja aplikacja <a href='/contact'>skontaktuj się</a> ze mną ;)
        </span>
    </div>
</div>