<div class="box">
    <h2 class="title">Interpretacja</h2>
    <ul class="results">
        <li
            class="results__item"
            *ngFor="let result of results"
        >
            <span>{{result.name}}</span>
            <span>{{result.value}}</span>
            <span>{{result.unit}}</span>
            <span *ngIf="(result.flag === -1)">
                <img
                    class="icon icon--toLow"
                    src="../../assets/images/High.svg"
                    alt="ikona"
                >
            </span>
            <span *ngIf="(result.flag === 1)">
                <img
                    class="icon icon--toHigh"
                    src="../../assets/images/High.svg"
                    alt="ikona"
                >
            </span>
            <span *ngIf="(result.flag === 0)">
                <img
                    class="icon icon--check"
                    src="../../assets/images/Check.svg"
                    alt="ikona"
                >
            </span>
        </li>
    </ul>
    <article class="interpretation">
        <p>{{message}}</p>
    </article>
</div>