@import '/src/styles.scss';

.navigation {
    position: fixed;
    left: 0;
    bottom: 0;
    font-weight: bold;
    font-size: 1.2rem;
    @include flex (row, space-between);
    width: 100vw;
    height: 2.6rem;
    padding: .5rem 0;
    color: white;
    background-color: $main-color;
    @media (orientation: landscape) and (max-width : 640px){
        height: 2.2rem
    }
    @media (orientation:landscape) and (min-width:1024px){
        @include flex (row, space-around)}
}
.navigation > * {
    transition: 0.5s linear;
}
.isHidden > * {
    pointer-events: none;
    cursor: default;
    filter: blur(1px);
}
.arrow{
    height: .8rem;
    margin: 0 .4rem;
    opacity: 0.8;
    transition: .3s;
    &--previous {
        transform: rotate(180deg);
    }
}
a {
    margin: auto;
    transition: .3s;
}
.small {
    margin: auto 0;
    font-size: 1rem;;
}
.disabled {
    margin: auto 0;
    opacity: .5;
    cursor: auto;
}
a:hover{
    opacity:1;
    text-shadow: 0px 4px 5px rgb(46, 81, 109);
    }
a:hover .arrow{
    transform:translateX(.2rem) scale(1.1);
    opacity: 1
}
a:hover .arrow--previous{
    transform:translateX(-.2rem) rotate(180deg) scale(1.1);
}