<header class="header">
    <a
        routerLink="/home-page"
        (click)="resetIsValid()"
        [class.isDisabled]="isActive"
    >
        <img
            class="header__logo"
            src="../../assets/images/Logo.svg"
            alt="logo aplikacji"
        >
    </a>
    <button
        class="header__burger"
        [class.header__burger--active]="isActive"
        (click)="isActive = !isActive ; hideNavbar()"
    >
        <span class="header__burger--inner"></span>
    </button>
</header>
<app-menu
    *ngIf="isActive"
    (isMenuActive) = "hideMenu($event)"
    >
</app-menu>