<div
    class = "navigation"
    [class.isHidden] = "isVisible"
>
    <a
        class="small"
        [routerLink]='[currentPageData.previousPath]'
        (click)="changeCurrentForm(currentPageData.previousForm) ; resetIsValid()"
        [style.display]="isHidden? 'none' : 'block'"
    >
        <img
            class="arrow arrow--previous"
            src="../../assets/images/Arrow.svg"
            alt="strzałka wstecz"
        >
        Wstecz
    </a>
    <a
        routerLink="/test-form-page"
        [style.display]="isHidden? 'block' : 'none'"
        (click)="changeCurrentForm('test-choice') ; resetIsValid()"
    >
        {{currentPageData.pageTitle}}
    </a>
    <a
        class="small"
        *ngIf="currentPageData.isEnabled"
        [routerLink]="[currentPageData.nextPath]"
        (click)="changeCurrentForm(currentPageData.nextForm)"
        [style.display]="isHidden? 'none' : 'block'"
    >
        {{currentPageData.pageTitle}}
        <img
            class="arrow"
            src="../../assets/images/Arrow.svg"
            alt="strzałka dalej"
        >
    </a>
    <div
        class="small disabled"
        *ngIf="!currentPageData.isEnabled"
        [style.display]="isHidden? 'none' : 'block'"
    >
        {{currentPageData.pageTitle}}
        <img
            class="arrow"
            src="../../assets/images/Arrow.svg"
            alt="strzałka dalej"
        >
    </div>
</div>