<nav class="menu">
    <ul
        class="menu__list"
        [@enterLeave]
    >
        <li class="menu__item">
            <a routerLink="/test-form-page">
                <p>Wybór badań</p>
            </a>
        </li>
        <li class="menu__item">
            <a routerLink="/about-tests">
                <p>Więcej o badaniach</p>
            </a>
        </li>
        <li class="menu__item">
            <a routerLink="/about-project">
                <p>Więcej o projekcie</p>
            </a>
        </li>
        <li class="menu__item">
            <a routerLink="/contact">
                <p>Kontakt</p>
            </a>
        </li>
    </ul>
</nav>