<div class="svg" [class.svg--active]="isActive">
   <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="134"
   height="189"
   viewBox="0 0 134 189"
   fill="none"
   version="1.1"
   sodipodi:docname="Result.svg"
   [@isLoad]="isLoad"
   >
  <defs
     id="defs32" />
  <rect
     width="134"
     height="189"
     fill="#E5E5E5"
     class="rect2"
     style="fill:#fefefe;fill-opacity:1" />
  <rect
     x="6"
     y="22.7468"
     width="122"
     height="160.253"
     rx="9"
     fill="white"
     stroke="#F5C038"
     stroke-width="12"
     class="rect4"/>
  <path
     d="M27 103L106.026 103"
     class="line" />
     <line
     x1="27"
     y1="122.5"
     x2="106.026"
     y2="122.5"
     class="line"/>
  <line
     x1="27"
     y1="141.13014"
     x2="106.026"
     y2="141.13014"
     class="line"/>
  <line
     x1="27"
     y1="160.30084"
     x2="105.68177"
     y2="160.30084"
     class="line"/>
  <line
     x1="49.980392"
     y1="66.734123"
     x2="83.509804"
     y2="66.734123"
     class="line14"
     style="stroke:#c85151;stroke-width:13.70272636" />
  <path
     d="M 66.6293,49.952108 V 83.761632"
     class="path16"
     inkscape:connector-curvature="0"
     style="stroke:#c85151;stroke-width:13.75984478" />
  <rect
     x="32.6411"
     y="9.42857"
     width="69.5769"
     height="26.5714"
     rx="10"
     fill="#A6A6A6"
     class="rect18" />
  <path
     d="M74.1667 11.1429C74.1667 15.0797 70.9661 18.2857 67 18.2857C63.0339 18.2857 59.8334 15.0797 59.8334 11.1429C59.8334 7.20601 63.0339 4 67 4C70.9661 4 74.1667 7.20601 74.1667 11.1429Z"
     fill="#E5E5E5"
     stroke="#A6A6A6"
     stroke-width="8"
     class="path20" />
  <ellipse
     cx="52.8269"
     cy="16.7468"
     rx="3.00641"
     ry="3.98734"
     fill="#5B5B5B"
     class="eye" />
  <ellipse
     cx="81.1731"
     cy="16.7468"
     rx="3.00641"
     ry="3.98734"
     fill="#5B5B5B"
     class="eye" />
  <path
     d="M61 26C61 26 69.5607 34.9715 73.8846 26"
     stroke="#5B5B5B"
     stroke-width="4"
     stroke-linecap="round"
     stroke-linejoin="round"
     class="mouth" />
     <rect
     style="fill:#ffffff"
     id="rect19"
     width="15.079367"
     height="70.238098"
     x="11.999"
     y="100.39682" />
     <rect
     style="fill:#f5c038;fill-opacity:1"
     id="rect30"
     width="11.904762"
     height="69.841263"
     x="0"
     y="96.825394" />
</svg></div>
