@import '../../styles.scss';
.navigation {
    position: fixed;
    left: 0;
    bottom: 0;
    @include flex (row, space-between);
    width: 100vw;
    height: 2.6rem;
    padding: .5rem 1rem;
    background-color: $main-color}
    
a {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 auto;
    transition: .3s linear;
    }
a:hover{
    text-shadow: 0px 4px 5px rgb(46, 81, 109);
    }