@import '../../styles.scss';
.box {
    @include flex(column, space-around);
    width:100vw;
    padding: 1rem 0;
    @media (orientation:landscape) and (max-width:1024px) {
        justify-content: space-around;
        flex-wrap: wrap-reverse;
        align-items: center;
    }
}
