@import '/src/styles.scss';

.menu{
    position: fixed;
    top: 2.6rem;
    left:0;
    height: calc(100vh - 2.6rem);
    width: 100vw;
    background: white;
    text-align: center;
    @media (orientation: landscape) and (max-width : 640px){
        height: calc(100vh - (2.2rem*2));
    }
    &__list{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @media (orientation: landscape) and (max-width : 640px){
            height: calc(100vh - (2.2rem*2));
            width: 60rem;
        }
    }
    &__item{
        line-height: 4rem;
        @media (orientation:landscape) and (max-width:640px) {
            line-height: 3rem;
        }
    }
    &__item p{
        font-weight: bold;
        font-size: 1.2rem;
        color:rgb(112, 127, 141);
        transition: .7s;

        &:hover{
            transform: scale(1.2);
            color: $main-color;
        }
    }
}
