<div class="box">
    <h2 class="title">Wybierz badanie</h2>
    <form
        [formGroup]="testForm"
        class="list"
    >
        <label
            class="list__item"
            [class.choosen]="test === 'thyroid'"
        >
            Hormony tarczycy
            <input
                type="radio"
                formControlName="test"
                value="thyroid"
                (change)="changeTest('thyroid')"
            >
        </label>
        <label
            class="list__item"
            [class.choosen]="test === 'lipids'"
        >
            Profil lipidowy
            <input
                type="radio"
                formControlName="test"
                value="lipids"
                (change)="changeTest('lipids')"
            >
        </label>
    </form>
    <span class="description">Więcej badań wkrótce!</span>
</div>