<div class="box">
    <h1 class="title">Kontakt</h1>
    <div class="contact__container description">
        <img
            src='assets/images/Gmail-icon.svg'
            class="contact__icon"
        >
        <span class="contact__item">
            juzielska@gmail.com
        </span>
        
        <img
            src='assets/images/Linkedin-icon.svg'
            class="contact__icon"
        >
        <a
            href="https://www.linkedin.com/in/j-zielinska/"
            class="contact__item"
        >
            linkedin.com/in/j-zielinska
        </a>
        <img
            src='assets/images/Github-icon.svg'
            class="contact__icon"
        >
        <a
            href="https://github.com/JustynaZielinska"
            class="contact__item"
        >
            github.com/JustynaZielinska
        </a>
    </div>
</div>