.contact__container{
    margin: 1rem auto 0 auto;
    display: grid;
    grid-template-columns: 2.5rem 12rem;
    grid-template-rows: 3rem 3rem 3rem;
    justify-items: flex-start;
}
.contact__item{
    font-size: 1rem;
    line-height: 1.5rem;
    color: gray
}
.contact__icon{
    width: 1.5rem;
    height: 1.5rem;
}